{% extends 'base.html' %}  <!-- Наследуем базовый шаблон -->

{% block content %}  <!-- Определяем блок для контента -->
  <div class="container">
    <h1>Параметры URL</h1>
    {% if params %}  <!-- Проверяем, есть ли параметры -->
        <ul>
        {% for key, value in params.items() %}  <!-- Перебираем все параметры URL -->
            <li>{{ key }}: {{ value }}</li>  <!-- Выводим каждый параметр -->
        {% endfor %}
        </ul>
    {% else %}
      <p>Параметры URL отсутствуют. Попробуйте добавить параметры к URL, например: <code>?name=Inga&age=19</code>.</p>
    {% endif %}
  </div>
{% endblock %}
