Flask==3.1.0
# Микрофреймворк для веб-разработки. Версия 3.1.0 включает:

# Поддержку Python 3.8+
# Улучшенную систему маршрутизации
# Новые декораторы для обработки ошибок

Faker==37.1.0

# Библиотека для генерации тестовых данных. Версия 37.1.0 содержит:

# 200+ генераторов данных (имена, адреса, тексты)
# Поддержку 50+ языков
# Возможность создания собственных провайдеров данных

Werkzeug==3.1.3

# Базовая WSGI-библиотека (основа Flask). В этой версии:

# Улучшенная безопасность
# Новые утилиты для работы с URL
# Оптимизированная система маршрутизации

Jinja2==3.1.6

# Движок шаблонов. Версия 3.1.6 предлагает:

# Более быструю компиляцию шаблонов
# Улучшенную систему наследования шаблонов
# Новые теги и фильтры